.main-area {
    display: flex;
    justify-content: space-between;
}

.left-side-list {
    margin-top: 10px;
    height: 100vh;
}

.right-side-list {
    margin-top: 10px;
    height: 100vh;
}


.float-container {
    border-right: double;
    border-left: double;
    padding: 20px;
}